{% extends 'base.html' %}
{%block home%}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">EcoFusion</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3>About EcoFusion Dev</h3>
          <p class="left-align light">"Welcome to the GreenCreators developers' corner, where a dedicated and passionate team of individuals has come together with a shared vision – the preservation of our precious environment. Fueled by a deep commitment to sustainable living, we embark on a transformative journey to breathe new life into discarded plastic waste. Through our innovative recycling practices, we meticulously craft eco-friendly furniture that not only enhances your living spaces but also contributes to the greater cause of reducing environmental impact. Join us on this meaningful expedition as we strive to redefine the possibilities of recycling, one recycled plastic piece at a time."</p>
        </div>
      </div>
    </div>
  </div>
  
  <section>
    <div class="container">
      <div class="row">
        <!-- Damar Card -->
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/damr.jpg') }}" style="width: 200px; height: 200px;">
              <span class="card-title">Damar</span>
            </div>
            <div class="card-content">
              <p>21.83.0700<br>
              DAMAR INDRAJATI</p>
            </div>
          </div>
        </div>

        <!-- Ariandi Card -->
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/ari.jpg') }}" style="width: 200px; height: 200px;">
              <span class="card-title">Ariandi</span>
            </div>
            <div class="card-content">
              <p>21.83.0664<br>
              ARIANDY HAPPY MAHADRIKA</p>
            </div>
          </div>
        </div>

        <!-- Daffa Card -->
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/daffa.jpeg') }}" style="width: 200px; height: 200px;">
              <span class="card-title">Daffa</span>
            </div>
            <div class="card-content">
              <p>21.83.0682<br>
              DAFFA TAFAQURRAHMAN</p>
            </div>
          </div>
        </div>

        <!-- Rugan Card -->
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/rugan.jpeg') }}" style="width: 200px; height: 200px;">
              <span class="card-title">Rugan</span>
            </div>
            <div class="card-content">
              <p>21.83.0704<br>
              RUGAN PRAMBAYU</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}
