<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About EcoFusion Creations</title>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/materialize.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
  {%block home%} {%endblock%}
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-1">We are a team of passionate individuals dedicated to redefining sustainable living through innovative and stylish home furnishings. Our mission is to provide eco-friendly solutions without compromising on design and affordability.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social Media</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">YouTube</a></li>
            <li><a class="white-text" href="#!">X</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
          </ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-2" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!-- Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

</body>

</html>
